<div class="row">
	<div class="col-lg-12">
		<h2>Welcome to Thunder</h2>		
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h3><%= link_to 'User Directory', insured_users_path %></h3>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h3><%= link_to 'Master Plan', masters_plans_path %></h3>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h3><%= link_to 'Master Rider', masters_riders_path %></h3>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h3><%= link_to 'Master Coverages', masters_coverages_path %></h3>
	</div>
</div>


