<div class="page-header">
<% if @surrender.insurance.is_master? %>
  <%= link_to master_insurance_path(@surrender.insurance), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
<% else %>
  <%= link_to book_insurance_path(@surrender.insurance.book, @surrender.insurance), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
<% end %>

  <%= link_to insurance_surrender_path(@surrender.insurance, @surrender), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing surrender</h1>
</div>

<%= render 'form' %>
