<div class="page-header">
  <%= link_to insurance_surrenders_path(@surrender.insurance), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New surrender</h1>
</div>

<%= render 'form' %>
