<div class="page-header">
  <%= link_to book_insurance_path(@insurance.book, @insurance), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to book_insurance_path(@insurance.book, @insurance), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing insurance</h1>
</div>

<%= render 'form' %>
