<div class="page-header">
  <%= link_to person_book_path(@insurance.book.person, @insurance.book), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New insurance</h1>
</div>

<%= render 'form' %>
