<div class="page-header">
  <%= link_to insurance_dividends_path(@dividend.insurance), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New dividend</h1>
</div>

<%= render 'form' %>
