<div class="page-header">
<% if @dividend.insurance.is_master? %>
  <%= link_to master_insurance_path(@dividend.insurance), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
<% else %>
   <%= link_to book_insurance_path(@dividend.insurance.book, @dividend.insurance), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
<% end %>


  <h1>New dividend</h1>
</div>

<%= render 'form' %>
