<h1>Editing Rider</h1>

<%= render 'form' %>

<%= link_to 'Show', insurance_rider_path(@rider.insurance, @rider) %> <br>
<%= link_to 'Back to rider', insurance_rider_path(@rider.insurance, @rider) %>
