<div class="page-header">
  <%= link_to book_insurance_path(@protection.insurance.book, @protection.insurance), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to [@protection.insurance, @protection], class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing protection</h1>
</div>

<%= render 'form' %>
