<h1>Editing Coverage</h1>

<%= render 'form' %>

<%= link_to 'Show', [@coverage.rider, @coverage] %> |
<% if @coverage.rider.rider_type == 'master' %>
<%= link_to 'Back to master rider', master_rider_path(@coverage.rider) %>
<% elsif %>
<%= link_to 'Back to rider', insurance_rider_path(@coverage.rider.insurance, @coverage.rider) %>
<% end %>