<div class="page-header">
  <% if  @coverage.rider.is_master? %>
    <%= link_to master_rider_path(@coverage.rider),  class: 'btn btn-default'  do %> 
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>    
	<% else %>  
     <%= link_to insurance_rider_path(@coverage.rider.insurance, @coverage.rider),  class: 'btn btn-default'  do %> 
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %> 
  <% end -%>

  <%= link_to [@coverage.rider, @coverage], class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing Coverage</h1>
</div>

<%= render 'form' %>