<div class="row">
	<div class="col-lg-6">
		<h1>New Coverage</h1>

		<%= render 'form' %>

		<%= link_to 'Back', rider_coverages_path(@coverage.rider) %>		
	</div>
	<div class="col-lg-6">
		<h3>Search from master coverage</h3>
		<p>Coverage ID: {{ coverage_id }}</p>
		<search-coverage-panel id="coverageSearch" uid="coverage_id">
    </search-coverage-panel>
	</div>
</div>


