<h1>Editing Master Coverage</h1>

<%= render 'form' %>

<%= link_to 'Show', [@master_coverage.master_rider, @master_coverage] %> |
<%= link_to 'Back', master_rider_path(@master_coverage.master_rider) %>
